<!DOCTYPE html>
<html>
  <head>
    <title>To Do List</title>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1>To Do List The Full Stack Way</h1>
        <img
          src="https://marketplace.canva.com/EAFO2zQwVFM/1/0/1131w/canva-beige-minimalist-to-do-list-planner-d9c2bZvUNHY.jpg"
          alt=""
        />
        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"
          ><span class="fa fa-user"></span>Login</a
        >
        <a href="/signup" class="btn btn-default"
          ><span class="fa fa-user"></span>Signup</a
        >
      </div>
    </div>
  </body>
</html>
